{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "plugins": [
    "prettier",
    "react-hooks",
    "react",
    "import",
    "jsx-a11y"
  ],
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80
      }
    ]
  }
}